#fondo
{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 14%, #ffffff 39%, #c4c4c4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#ffffff), color-stop(39%,#ffffff), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 14%,#ffffff 39%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 14%,#ffffff 39%,#c4c4c4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 14%,#ffffff 39%,#c4c4c4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 14%,#ffffff 39%,#c4c4c4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}